@font-face {
  font-family: 'kaushan';
  src: url(../fonts/kaushanscript-regular-webfont.woff) format('woff'),
       url(../fonts/kaushanscript-regular-webfont.woff2) format('woff2');
}

.outerwrapper {
  width: 70%;
  background-color: rgba(176, 174, 175, 0.8);
  border-radius: 15%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  list-style-position: inside;
  padding-top: 20px;
}

.brandon-title a { /* --> top left header "About Brandon Deaton" */
  font-family: 'kaushan', "Times New Roman", 'serif';
  font-size: 26pt;
  float: left;
  margin-left: 20px;
  text-decoration: none;
  color: cyan;
  background: radial-gradient(#333 50%, rgba(0, 255, 255, 0.5));
  border-radius: 50%;
}

.img-fit img {
width: 100%;
height: 850px;
}

.contact a:link {color: rgb(98, 98, 98); font-weight: bold;}
.contact a:visited {color: #333;}
.contact a:focus, .contact a:hover, .contact a:active {color: gold;}
.contact div {margin: 10px;}
.contact label {
  margin-right: 15px;
  width: 225px;
  display: inline-table;
}
.contact form {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 40px;
}

.move-down {    /* -> Experience.html -> h2 'Projects' */
  padding-top: 20px;
}

.standout {
  background-color: silver;
  height: 70px;
  position: absolute;
  width: 100%;
  bottom: 0; 
}

.find-me {
	background: rgba(0, 255, 255, 0.7);
  border: 2px solid black;
  margin-right: calc(100vh - 35px);
  float: right;
  border-radius: 10%;
  height: 69px;
}

.find-me p {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  padding: 2px 2px;
}

.find-me img {
  margin: 3px;
  padding-left: 3px;
}